.app-store-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  background-size: cover;
  min-height: 100vh;
  padding: 32px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Bree Serif';
  font-size: 36px;
  color: #1e293b;
  margin-bottom: 24px;
}

.search-Container {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #7b8794;
  border-radius: 8px;
  padding: 8px 16px;
  width: 90%;
  max-width: 600px;
  margin-bottom: 24px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.tabs-container {
  display: flex;
  margin-bottom: 22px;
  list-style-type: none;
  border-bottom: 1px solid #dfe2e5;
}

.tab-button {
  font-family: 'Bree Serif';
  font-size: 16px;
  padding: 24px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  border: none;
}

.apps-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 1000px;
}
